@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*, *:before, *:after {
    box-sizing: border-box;
  }
body {
    padding: 0px;
    margin: 0px;
    background: #F4F1F1;
    font-family: 'Open Sans', sans-serif;
    color:black;
    font-size: 15px;
}